@import url('https://fonts.googleapis.com/css?family=Chicle:100,200,300,400,500,600,700');

/*------Page Colors------*/
body{
    background-color: white;
}

/*------Header CSS------*/
header {
    margin: 0;
    border: 0;
    padding: 0 !important;
    height: 100%;
   
}

/*--Jumbotron--*/
.jumbotron {
background-color: transparent;
margin-bottom: 0 !important;

}

.jumbotron h2,h3{
    font-family: 'Chicle',serif;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    line-height: 1.1;
    background: #000000;
    padding: 5px;
    border-radius: 5%;
}

/*--transparent overlay for jumbotron--*/
.tp-overlay{
    position: absolute;
    padding: 0px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*jumbotron background*/
.news-bg{
    height: 100vh;
    width: 100%;
    padding-bottom: 0px;
    background: url('../images/mksbw.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*-- Navbar Custom CSS --*/
.navbar-default{
    /*--background-color: rgb(58, 178, 187);--*/
    background-image: linear-gradient(180deg,red, orangered);
    border: 0px;
    color: #fafafa;
    font-family: 'Chicle',serif;
    font-size: 20px;
    width: 100%;
   
}

.navbar-default .navbar-nav > li > a {
    color: white; 
    line-height: 34px;
    text-align: center;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fafafa
}
.navbar-header .navbar-brand {
    color: white !important; 
    font-size: 30px;
}

.navbar-header{
    padding-right: 10px;
    padding-top: 10px;
}

.navbar-toggle{
    margin-top:0px;
}

.navbar-collapse{
    -webkit-transition:.5s ease-in-out;
    -moz-transition:.5s ease-in-out;
    -o-transition:.5s ease-in-out;
    transition: .5s ease-in-out;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;;
}

/*-----Page Sections-----*/

.bandsection h1, .musicsection h1, .videosection h1, .contactsection h1{
    font-family: 'Chicle',serif;
    font-weight: 500;
    text-shadow: 2px 2px 4px #000000;
}

/*--Band Section--*/
.bandsection{
    /*--background-color: firebrick;--*/
    background-image: linear-gradient(180deg,firebrick, darkorange);
    color: #fafafa;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.bandsection img{
    width: 125px;
    height: 125px;
    border-radius: 100%;
    border: 5px solid #fafafa;
}

.members{
    padding: 10px;
    font-family: 'Chicle',serif;
}

/*--Music Section--*/
.musicsection{
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    /*--background-color: darkorange;--*/
    background-image: linear-gradient(180deg,darkorange, darkolivegreen);
    color: #fafafa;
      
}

.musicsection img{
    width: 200px;
    height: 200px;
    padding: 2px;
    border-radius: 25px;
    border: 5px solid #fafafa;
    
}
/*--Album Images--*/
.albums{
    padding: 10px;
    font-family: 'Chicle',serif;
}

/*--Video Section--*/
.videosection{
    /*--background-color: darkolivegreen;--*/
    background-image: linear-gradient(180deg, darkolivegreen, darkslategrey);
    color: #fafafa;
    padding-bottom: 40px;
    font-family: 'Chicle',serif;

}

/*--Contact Us Section*/
.contactsection{
    background-color: darkslategrey;
    color: #fafafa;
    padding-top: 0px;
    padding-bottom: 25px; 
}

/*-----Footer CSS-----*/
footer{
    padding-top: 10px;
    padding-bottom: 5px;
}
.footer-copy{
    padding-top: 5px;
    font-family: 'Poppins', serif;

}

/*-- Social Media Buttons--*/
.fab{
    color: black;

}

/*--Media Queries--*/


